/1750$ à enlever.pdf
/Brave.lnk
/Cerveau Aide-Mémoire.pdf
/Chapitre 1 Stat.pdf
/Chapitre 10 Stat.pdf
/Chapitre 11 Stat.pdf
/Chapitre 12 Stat.pdf
/Chapitre 13 Stat.pdf
/Chapitre 2 Stat.pdf
/Chapitre 3 Stat.pdf
/Chapitre 4 Stat.pdf
/Chapitre 5 Stat.pdf
/Chapitre 6 Stat.pdf
/Chapitre 7 Stat.pdf
/Chapitre 8 Stat.pdf
/Chapitre 9 Stat.pdf
/Code déontologie trois Conseils 2022.pdf
/courcy_exercice1.pdf
/Cours 1 ado.pdf
/Cours 1 analyse.pdf
/Cours 1 cognitif.pdf
/Cours 1 reve.pdf
/Cours 2 ado.pdf
/Cours 2 analyse.pdf
/Cours 2 cognitif.pdf
/Cours 3 analyse.pdf
/Cours 3 cognitif.pdf
/CRI1511 (DélinquanceFacteursCriminogènes) Plan de cours.pdf
/CV Raphael COURCY.docx
/CV Raphael COURCY.pdf
/desktop.ini
/Docs signés Appart Momo.pdf
/exercice 1 analyse.R
/Guide_R_RStudio.pdf
/Hypothèses de recherche.docx
/Immatriculation 2024.pdf
/Immatriculation 2025-2026.pdf
/index.html
/Lecture cours 1 ado.pdf
/Lecture cours 1 reve.pdf
/Lecture cours 2 ado.pdf
/Lettre de détermination RCSD.pdf
/LettreAdmissionCampusLaval.pdf
/Lettre_d'examen_secondaire.pdf
/Lettre_de_decision_ARC.pdf
/Manuel dev. enfant.pdf
/Manuel psycho physiologique.pdf
/Mini_test__préparation_intra_1_questions.pdf
/Nouveau dossier
/Page de présentation UdeM.docx
/Pas bonne entente de paiement ARC.pdf
/PermisConduireEtRamq.pdf
/pr.xlsx
/preuve d'emploi Telus.pdf
/PSE1208 (Intro Psychoéd) Plan de cours.pdf
/PSY1004L (analyse quant.) Plan de cours.pdf
/PSY1006M (métho 1) Plan de cours.pdf
/PSY1035H (psycho physio) Plan de cours.pdf
/PSY1045 (Motivation&Émotion) Plan de cours.pdf
/PSY1075 (Psycho sociale) Plan de cours.pdf
/PSY1085 (Apprentissage) Plan de cours.pdf
/PSY1095M (dev. enfant) Plan de cours.pdf
/PSY1105 (psy de la personnalité) Plan de cours.pdf
/PSY2044 (Stress et anxiété) Plan de cours.pdf
/PSY2048M (psycho santé) Plan de cours.pdf
/PSY2065L (processus cognitifs) Plan de cours.pdf
/PSY2071 (Relations interpersonnelles) Plan de cours.pdf
/PSY2093L (adolescence) plan de cours.pdf
/PSY2098 (sexualité et cycle de la vie) Plan de cours.pdf
/PSY3106A (psycho du rêve) Plan de cours.pdf
/Psychedelics assisted CBT for depression.docx
/Relevé 8 UdeM 2024.pdf
/Réponses questions manuel.pdf
/SOL1016 (Déviance-exclusion-controlesocial) Plan de cours.pdf
/SpecimenCheque.pdf
/SpecimenChequeDesjardins.pdf
/T4 UdeM 2024.pdf
/THÉORIES.docx
/Zoom Workplace.lnk
/À mettre sur studoku Étude final psy1006.pdf